@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;600;700&family=Ubuntu:wght@500;700&display=swap");

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 10%;
}

@layer base {
  input {
    @apply block w-full px-4 py-2 text-concrete bg-platinum border border-dodger-blue-4 hover:border-safety-yellow rounded-md focus:border-safety-yellow focus:outline-none focus:ring;
  }
  textarea {
    @apply block w-full h-40 px-4 py-2 text-concrete bg-platinum border border-dodger-blue-4  hover:border-safety-yellow rounded-md focus:border-safety-yellow focus:outline-none focus:ring;
  }
  label {
    @apply block mb-2 text-sm font-medium text-platinum;
  }
  h1 {
    @apply text-xl font-semibold text-jet-black capitalize lg:text-3xl font-Poppins;
  }
  h2 {
    @apply text-3xl font-extrabold text-jet-black sm:text-4xl;
  }
  * {
    @apply font-Montserrat;
  }
  footer {
    @apply flex-1 flex flex-col items-center justify-center md:items-end md:border-r border-aluminum-foil md:pr-5;
  }
}

@layer components {
  .btn-dodger-blue {
    @apply py-2 px-4  bg-dodger-blue hover:bg-dodger-blue-2 focus:ring-dodger-blue-3 focus:ring-offset-dodger-blue-4 text-white  transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg hover:text-bubble-gum;
  }
  .btn-smoke {
    @apply py-2 px-4  bg-platinum hover:bg-concrete focus:ring-aluminum-foil focus:ring-offset-aluminum-foil text-outer-space transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg hover:text-platinum border border-jet-black;
  }
  .nav-link {
    @apply hover:text-bubble-gum text-white font-semibold transition ease-in duration-200 hover:font-bold text-sm px-3 py-2 rounded-md hover:bg-dodger-blue font-Ubuntu;
  }
  .contact-link {
    @apply flex flex-col items-center px-4 py-3 font-semibold text-bubble-gum transition-colors duration-200 transform rounded-md hover:bg-dodger-blue hover:text-dark-charcoal;
  }
  .contact-icon {
    @apply h-8 w-8 text-bubble-gum hover:text-dark-charcoal;
  }
  .divider {
    @apply fill-current text-blue-700;
  }
  .price-heading {
    @apply inline-flex items-center justify-center px-2 font-semibold tracking-tight uppercase rounded-lg;
  }
  .hero-text-container {
    @apply lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center;
  }
  .hero-image-container {
    @apply lg:max-w-lg lg:w-full md:w-1/2 w-5/6;
  }
  .hero-image {
    @apply object-cover object-center rounded;
  }
  .hero-container {
    @apply container mx-auto flex px-5 py-4 md:flex-row flex-col-reverse items-center;
  }
  .hero-section {
    @apply text-dark-charcoal md:-mt-14 -mt-2;
  }
  .hero-text-block {
    @apply mb-8 leading-relaxed;
  }
  .btn-spacer {
    @apply flex justify-center space-x-4;
  }
  .hero-header-break {
    @apply hidden lg:inline-block;
  }
  .feature-icon-bg {
    @apply inline-block p-2 text-white bg-dodger-blue-2 rounded-xl md:mx-4;
  }
}
